// Color Variables
$primary-color: #33d3c0;
$text-color: #79869a;
$text-color-dark: #3a4657;
$border-color: #edebeb;
$body-color: #fff;
$gray:#f5f5f9;
$black: #000;
$white: #fff;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$icon-font: 'themify';